.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.3); /* Black with 50% opacity */
}

.cardDivs {
  text-align: center;
  width: 340px;
  margin: 50px;
  border: 3px solid rgb(255, 40, 0);
  box-shadow: 0 0 15px 5px rgba(255, 40, 0, 0.7); 
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.cardTitle{
  font-size: 1.5rem;
  color: rgb(255, 40, 0);
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 20px;
}

.cardContent {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  margin: 20px;
}

@media (max-width: 600px) {
  
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardDivs {
    width: 60%;
    margin: 20px 0;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }
}